services:
  midi-deck:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: midi-deck-app
    volumes:
      - ./:/app
      - /dev/snd:/dev/snd
      - /run/user/1000/pulse:/run/user/1000/pulse
      - /home/rambo/.config/pulse/cookie:/home/rambo/.config/pulse/cookie:ro
      - /run/user/1000/bus:/run/user/1000/bus
    environment:
      - XDG_RUNTIME_DIR=/run/user/1000
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
    ipc: host
    network_mode: host
    privileged: true
    restart: unless-stopped
